.textalign
{
	/*text-align: left;*/
	/*text-align: right;*/
	/*text-align: center;*/
	text-align: justify;
}

.textdecoration
{
	/*text-decoration: underline;*/
	/*text-decoration: overline;*/
	text-decoration: line-through;
}

a
{
	text-decoration: none;
}

.textline
{
	/*letter-spacing: 5px;*/

	/*line-height: 2;*/

	line-height: 300%;
}

.textshadow
{
	/*text-shadow: 5px 0px 10px red;*/
	/*text-shadow: -5px 0px 10px red;*/

	/*text-shadow: 0px 20px 0px blue;*/
	/*text-shadow: 0px -20px 0px blue;*/

	/*text-shadow: -5px -5px 5px green;*/

	text-shadow: -5px -5px 5px green, 0px -5px 5px blue;;
}