.bdstyle1
{
	border-style: solid;
}

.bdstyle2
{
	border-style: double;
}

.bdstyle3
{
	border-style: dotted;
}

.bdstyle4
{
	border-style: dashed;
}

.bdstyle5
{
	border-style: inset;
}

.bdstyle6
{
	border-style: outset;
}

.borderdesign
{
	width: 300px;
	height: 300px;
	background-color: orange;

	/*border-radius: 50px;*/
	/*border-radius: 100%;*/
	/*border-radius: 50%;*/

	border-radius: 50px 20px 50px 100px;

	/*border: 3px dashed red;*/
	/*border: 2px dashed #00ffff;*/
	border: 2px dashed rgba(21,229,117,1.00);
}

li
{
	/*list-style-type: circle;*/
	/*list-style-type: square;*/

	/*list-style-type: none;*/

	/*list-style: none;*/

	list-style-type: decimal-leading-zero;

	/*border: 1px solid orange;*/

	border: 1px;
	border-style: solid;
	border-color: orange;

	/*list-style-position: outside;*/
	list-style-position: inside;
}